<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video To Text Summarizer</title>
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <header>Video To Text Summarizer</header>

    <form method='POST' enctype='multipart/form-data'>
      <i class="fas fa-cloud-upload-alt"></i>
      <p>Browse File to Upload</p>
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}     
    </form>
</div>
  

</body>
</html>